*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

.findDonor {
    display: grid;
    grid-template-columns: 1fr 99fr;
}

.findDonor-container
{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: solid black 4px;
}

.findDonor-form-container
{
    height: 85vh;
    width: 70vw;
    border-radius: 2rem;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
    background-color: white;
    display: flex;
    justify-content: center;
}

.findDonor-form
{
    width: 66vw;
    margin-top: 6vh;
    margin-bottom: 6vh;
  
}

.flex-container
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.fields-container-1>div, .fields-container-2>div
{
    margin-top: 4vh;
   
    
}

.fields-container-1
{
    margin-left: 1.5vw;
}

.blood-group-field, .patient-name-field, .case-field, .time-limit-field, .location-field, .picknDrop-field, .bottles-field, .patient-contact-field
{
    
    width: 30vw;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.05);
}

.blood-group-field .MuiOutlinedInput-root{
    border-radius: 50px;
 }

 .patient-name-field .MuiOutlinedInput-root
 {
    border-radius: 50px;

 }

 .case-field .MuiOutlinedInput-root
 {
    border-radius: 50px;

 }

 .time-limit-field .MuiOutlinedInput-root
 {
    border-radius: 50px;

 }

 .bottles-field .MuiOutlinedInput-root
 {
    border-radius: 50px;

 }

 .location-field .MuiOutlinedInput-root
 {
    border-radius: 50px;

 }

 .patient-contact-field .MuiOutlinedInput-root
 {
    border-radius: 50px;

 }

 .picknDrop-field .MuiOutlinedInput-root
 {
    border-radius: 50px;

 }

.findDonor-form-button-container
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 22vh;
}

.findDonor-form-button
{
    padding: 1.3em 3em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 800;
    color: #fff;
    background-color: #1976d2;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;

}

.findDonor-form-button:hover
{
 background-color: #000;
 color: #fff;
 box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
 transform: translateY(-7px);
}

.findDonor-form-button:active {
    transform: translateY(-1px);
   }
