@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300&display=swap');

* {
    padding    : 0;
    margin     : 0;
    font-family: 'Outfit', sans-serif;

}

.registerPage {
    height           : 100vh;
    display          : flex;
    align-items      : center;
    justify-content  : center;
    background-image : linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    background-size  : 100%;
    background-repeat: no-repeat;
}

.registerForm-container {
    height          : 85vh;
    width           : 35vw;
    min-width       : 60vh;
    border-radius   : 1vw;
    display         : flex;
    justify-content : center;
    align-items     : center;
    background-color: whitesmoke;
    box-shadow      : 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.registerForm {
    height        : 100%;
    width         : 100%;
    display       : flex;
    align-items   : center;
    justify-content: center;
    flex-direction: column;
}

.registerForm>div {
    margin-top: 1.5vw;
}

.username,
.email,
.password,
.confirmPassword,
.register-btn {
    width: 50vh;
}


.pwd-and-register-container {
    width          : 50vh;
    display        : flex;
    justify-content: space-between;
    font-size      : .9vw;
}

.link-to-login {
    color: blue;
}