* {
    padding: 0px;
    margin: 0px 0px;
}

.dashboard__page {
    border-left: solid black 4px;
}

.dashboard {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
}

.dashboard__left {
    display: grid;
    height: 40vh;
    grid-template-rows: 1fr 1fr;
    place-items: center;
}

.dashboard__right {
}

.dashboard__heading {
    font-size: 3vw;
    font-weight: bolder;
}

.dashboard__button {
    padding: 1vw;
    text-transform: uppercase;
    color: #000;
    background-color:#fff;
    border: .2rem solid #1976d2;
    border-radius: 50px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

.dashboard__button:hover {
    background-color: #1976d2;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    color: #fff;
    transform: translateY(-7px);
   }
   
.dashboard__button:active {
    transform: translateY(-1px);
   }

.dashboard__button {
    display: grid;
    grid-template-columns: auto auto;
    place-items: center;
}

.dashboard__button-text {
    font-size: 1vw;
}