*
{
    padding: 0px;
    margin: 0px 0px;
    
}

.dashboard-page
{
   
}

.dashboard-button
{
    height: 15rem;
    width: 15rem;
}

.dashboard
{
    width: 60vw;
    height: 90vh;
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content:space-evenly;
}

.dashboard-container
{
    height: 93.7vh;
    display: flex;
    justify-content: center; 
}

.dashboard > button
{

    padding: 1.3em 3em;
    font-size: 18px;
    text-transform: uppercase;
    color: #000;
    background-color:#fff;
    border: .2rem solid #fd5c63;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

.dashboard>button:hover {
    background-color: #fd5c63;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    color: #fff;
    transform: translateY(-7px);
   }
   
.dashboard>button:active {
    transform: translateY(-1px);
   }
   

.dashboard-button-content
{
    display: flex;
    flex-direction: column;
  
}