@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Manrope&family=Outfit:wght@300&family=Quicksand:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dosis:wght@600&family=Exo+2:wght@300&family=Manrope&family=Outfit:wght@300&display=swap');
*
{
    padding: 0px;
    margin: 0px;
   
}

.homepage
{
    background-image: url('./Icons/bg3.svg');
    background-position: bottom;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}


.navbar
{
    height: 10vh;

    display: flex;
    justify-content: space-between;
}

.app-logo
{
    width: 20rem;
    margin-left: 1rem;
    
}


.navbar-buttons
{
    margin-right: 5rem;
    width: 18rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.homepage-info-container
{
    height: 90vh;
    display: flex;
    flex-direction: row;
}


.login-button, .register-button, .readmore-button
{
    
    height: 2.8rem;
    padding: 1.3em 3em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 800;
    color: #fff;
    background-color: #fd5c63;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}


.login-button:hover, .register-button:hover, .readmore-button:hover
{
    background-color: #000;
    color: #fff;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transform: translateY(-7px);

}

.login-button:active, .register-button:active, .readmore-button:active  {
   transform: translateY(-1px);
  }


.readmore-button
{
    height: 2rem;
    padding: 1em 2em;
    font-size: 10px;

}

.info-container
{
    width: 50vw;
    height: 90vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-weight: 300;  
}

.info
{
    width: 35vw;
    -webkit-animation: slide-top 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-top 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.info>*
{
    margin-top: 2rem;
    line-height: 2rem;
}

.info-title-container
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-title
{
    
    display: flex;
    justify-content: center;
    font-size: 3rem;
    
    
}

.info-title>img
{
    margin-left: .5rem;
    
}

.moto
{
    margin-top: .5rem;
    font-size: 1.2rem;
    font-weight: 100;
}

.info-detail
{

    font-size: 1.1rem;
    font-family: 'Exo 2', sans-serif;  
}

.info-detail > .readmore-button {
    margin-left: 1rem;
}

.info-quote
{
    font-weight: 600;
    color: #fd5c63;
    font-style: italic;
    font-size: 1.2rem;


}

.readmore-button-container
{
    display: flex;
    justify-content: center;
}

.image-container
{
    width: 50vw;
    height: 90vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
}


.achievements
{
    margin-top: 3rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}


.single-ach
{
    display: flex;
    flex-direction: column;
    align-items: center;
}


@-webkit-keyframes slide-top {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    100% {
      -webkit-transform: translateY(-50px);
              transform: translateY(-50px);
    }
  }
