@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Manrope&family=Outfit:wght@300&family=Quicksand:wght@400;600&display=swap');

*
{
    padding: 0px;
    margin: 0px;
   
}

.homepage
{
    background-image: url('./Icons/bg.svg');
    background-position: bottom;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}


.navbar
{
    height: 10vh;

    display: flex;
    justify-content: space-between;
}

.app-logo
{
    width: 20rem;
    margin-left: 1rem;
    
}



.navbar-buttons
{
    margin-right: 5rem;
    width: 18rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.homepage-info-container
{
    height: 90vh;
    display: flex;
    flex-direction: row;
}



.login-button, .register-button, .readmore-button
{
    
    height: 2.8rem;
    padding: 1.3em 3em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 800;
    color: #fff;
    background-color: #fd5c63;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}


.login-button:hover, .register-button:hover, .readmore-button:hover
{
    background-color: #000;
    color: #fff;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transform: translateY(-7px);

}

.login-button:active, .register-button:active, .readmore-button:active  {
   transform: translateY(-1px);
  }


.info-container
{
    width: 50vw;
    height: 90vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-weight: 300;

  
}

.info
{
    width: 62vh;
}

.info>*
{
    margin-top: 1rem;
    line-height: 2rem;
}

.info-title
{
    display: flex;
    justify-content: center;
    
    
}

.info-title>img
{
    margin-left: .5rem;
    
}

.info-detail
{
    font-style: italic;
    font-size: 1.2rem;
    font-weight: 300;

   
}

.info-quote
{
    font-weight: 600;
    color: #fd5c63;
    font-style: italic;
    font-size: 1.2rem;


}

.readmore-button-container
{
    display: flex;
    justify-content: center;
}

.image-container
{
    width: 50vw;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
